.wikiPage {
  display: flex;
  flex-direction: column;
  .wikiPage__title {
    text-align: center;
    width: 100%;
  }
  .wikiPage-content {
    position: relative;
    .rdw-editor-main {
      background-color: #fff;
      .DraftEditor-root {
        height: 48vh;
        .DraftEditor-editorContainer {
          height: 48vh;
        }
      }
    }
  }
}
