.createTask {
    .createTaskTitle {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        user-select: none;
    }
    .createTask__main {
        width: 100%;
        display: flex;
        .col-task {
            max-height: 80vh;
            height: 80vh;
        }
        .taskForm {
            overflow: hidden;
            margin-top: 10px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            label {
                font-weight: bold;
                padding: 5px;
            }
            input,
            select,
            button,
            .ant-select,
            textarea,
            .file {
                span:first-child {
                    width: 100%;
                }
                width: 65%;
                .ant-btn,
                .ant-upload {
                    width: 100%;
                }
            }

            .ant-btn {
                margin-top: 15px;
            }

            .ant-calendar-picker {
                width: 65%;
                input {
                    width: 45%;
                }
                div:first-child {
                    width: 100%;
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}
