.observerTitle {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    user-select: none;
}

.observerWrapper {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
