.notFoundModule {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.traceBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.iconRow {
  padding: 0 5px;
}

.traceBox__traceMessage {
  display: none;
  padding: 5px;
}

.traceBoxVisible {
  display: inline-block;
  background: #0c0c0c;
  color: #fff;
}

.notFoundTraceHeader {
  width: 100%;
  background-color: #5ca4bf;
  font-size: 16px;
  font-weight: bold;
  color: #ffff;
  padding: 0 10px;
  cursor: pointer;
}

.empty {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);

  p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
}
