.action-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.action-root {
  .chat {
    position: fixed;
    right: 11px;
    bottom: 45px;
    z-index: 999;
    background: black;
    .chat__main {
      width: 40vw;
      .col-chat-menu {
        flex: unset;
        .menuLoading-skeleton {
          width: 100%;
          &:first-child {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
          }
        }
        .ant-list-item {
          padding: 0 0 1px 0px;
        }
        .ant-avatar-lg {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
        .ant-list-item-meta-title {
          word-break: break-word;
          & > * {
            margin: 0;
          }
        }
        .ant-list-item-meta {
          padding: 5px 0px 0px 5px;
        }
      }
      .col-chat-content {
        width: 100%;
        flex: unset;
        .chat_content {
          .chat_content__header {
            height: 100%;
            background-color: $portalButton;
          }
          .chat_content__main {
            .chatRoom {
              .message {
                padding: 3px 0px;
                width: 48%;
                .msg_header {
                  flex-direction: column;
                }
              }
              .displayName {
                font-size: 14px;
              }
              .msg_date {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
