

header {
     &.ant-layout-header {
        padding: 0;
        background-color: $headerColor;
     }
    display: flex;
    flex-direction: row;
    align-items: center;
    ul {
        &.tabsMenu {
            display: flex;
            align-items: center;
            width: 85%;
            height: 100%;
            padding: 0;
            margin: 0;

            .closeTab {
                position: absolute;
                top: 3%;
                left: 95%;
                transform: translate(-50%);
                color: $headerColor;
                font-size: 15px;  
                &:hover{
                    color: red;
                }    
            }
            li {
                border: 1px solid $tabBorder;
                position: relative;
                &.active {
                    background-color: $tab;
                }

                display: flex;
                justify-content: center;
                align-items: center;
                height: 65%;
                cursor: pointer;
                background-color: $unactiveTab;
                padding: 0;
                flex: 0 0 15%;
                list-style-type: none;
                margin: 0 16px;

                span {
                    height: 100%;
                    overflow: hidden;
                    width: 90%;
                    text-align: center;
                    white-space: nowrap;
                    font-weight: bold;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    user-select: none;
                    text-overflow: ellipsis;
                    &.selected {
                        color: $selected;
                    }
                }
            }
            
        }
    }
}