.tableViw__wrapper {
    width: 100%;
    margin: 10px;
    height: 375px;
    table {
        width: 100%;
        min-height: 85%;
        max-height: 85%;
        tbody {
            position: relative;
        }
        tr {
            height: 40px;
            text-align: center;
        }
        thead {
            tr {
                display: flex;
                text-align: center;
                margin-right: -1px;

            &:first-child {
                td {
                    border-top: .5px solid $blueDark; 
                }   
            }
            }
        }
        td {
            border-left: .5px solid $blueDark; 
            flex: 0 0 28.333%;
            max-width: 28.333%;
            min-width: 28.333%;
            i {
                cursor: pointer;
                font-size: 22px;
                &:hover {
                    color: $blueDark;
                }
            }
            &:first-child {
                padding-left: 4px;
                border-left: none;
            }
        }

        .contentTr {
            display: flex;
            padding: 0;
            border-right: 0;
            border-left: 0;
           td {
                flex: 0 0 28.333%;
                max-width: 28.333%;
                min-width: 28.333%;
           }
        }

        td {
          padding-top: 10px;
          
            &:first-child {
                flex: 0 0 10%;
                max-width: 10%;
                min-width: 10%;
            }
            &:last-child {
                flex: 0 0 5%;
                max-width: 5%;
                min-width: 5%;
            }
        }
        

        tr {
            border: .5px solid $blueDark; 
            border-top: none;
        }
    }
}

.wrapperLoaderTable {
    .tableLoader {
        width: 100px;
    }
}