.tableViw__wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 55%;
    margin: 10px;
    table {
        width: 92%;
        min-height: 85%;
        max-height: 85%;
        tbody {
            position: relative;
        }
        tr {
            height: 40px;
            text-align: center;
        }
        thead {
            background-color: $headerTable;
            color: #ffff;
            font-weight: bold;
            tr {
                display: flex;
                text-align: center;

                &:first-child {
                    td {
                        border-top: 0.5px solid $blueDark;
                        &:last-child {
                            margin-left: 1px;
                        }
                    }
                }
            }
        }
        td {
            border-left: 0.5px solid $blueDark;
            flex: 0 0 28.333%;
            max-width: 28.333%;
            min-width: 28.333%;
            i {
                cursor: pointer;
                font-size: 22px;
                &:hover {
                    color: $blueDark;
                }
            }
            &:first-child {
                padding-left: 4px;
                border-left: none;
            }
        }

        .contentTr {
            display: flex;
            padding: 0;
            border-right: 0;
            border-left: 0;
            td {
                flex: 0 0 28.333%;
                max-width: 28.333%;
                min-width: 28.333%;
            }
        }

        td {
            padding-top: 10px;

            &:first-child {
                border-left: 0.5px solid $blueDark;
                flex: 0 0 10%;
                max-width: 10%;
                min-width: 10%;
            }
            &:last-child {
                border-right: 0.5px solid $blueDark;
                flex: 0 0 5%;
                max-width: 5%;
                min-width: 5%;
            }
        }

        tr {
            border: 0.5px solid $blueDark;
            border-top: none;
        }
    }
}

.wrapperLoaderTable {
    .tableLoader {
        width: 100px;
    }
}
