.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    max-width: 1140px;
    margin: 0 auto;

    .loginPage__loginContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        height: 70vh;
        box-shadow: 0 0 3px;
        padding: 5px;
        background-color: $snow_l1;

        .loginContainer__title {
            text-align: center;
        }

        .loginContainer__logo {
            display: flex;
            justify-content: center;
            img {
                max-width: 100px;
                width: 100%;
                height: 100%;
            }
        }
        .loginContainer__loginForm {
            display: flex;
            width: 60%;
            flex-direction: column;
            margin-top: 10%;

            input,
            button {
                width: 100%;
                height: 50px;
                text-align: center;
                margin-top: 10px;
                padding: 0;
            }

            button {
                font-weight: bold;
            }
        }
    }
}
