.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    max-width: 1140px;
    margin: 0 auto;

    .recovory-link {
        color: red;
    }

    .notificationWrapper {
        height: 55px;
        .errorMessage {
            text-align: center;
            font-weight: bold;
            color: red;
        }
    }

    .loginPage__loginContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        height: 80%;
        box-shadow: 0 0 3px;
        padding: 5px;
        background-color: $snow_l1;

        .loginContainer__title {
            text-align: center;
        }

        .loginContainer__logo {
            display: flex;
            justify-content: center;
            img {
                max-width: 100px;
                width: 100%;
                height: 100%;
            }
        }
        .loginContainer__loginForm {
            display: flex;
            width: 60%;
            flex-direction: column;
            margin-top: 10%;
            height: 100%;

            input,
            button {
                width: 100%;
                height: 50px;
                text-align: center;
                margin-top: 10px;
                padding: 0;
            }

            button {
                font-weight: bold;
            }
        }
    }
}

@media screen and (max-height: 723px) {
    .loginPage {
        .loginPage__loginContainer {
            height: 95%;
            overflow-y: auto;
            max-height: 560px;
            .loginContainer__loginForm {
                width: 85%;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 905px) {
    .loginPage {
        .loginPage__loginContainer {
            width: 98%;
            height: 98%;
            .loginContainer__loginForm {
                width: 70%;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .loginPage {
        .loginPage__loginContainer {
            .loginContainer__loginForm {
                width: 80%;
            }
        }
    }
}
