.modalWindow {
  input {
    margin: 5px;
  }

  .ant-calendar-picker {
    width: 100%;
  }

  .ant-calendar-time-picker-btn {
    display: none;
  }

  .ant-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    margin-top: 5px;
  }

  .selectDepartament {
    width: 100%;
  }

  .errorFild {
    border: 1px solid red;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  input,
  .ant-select {
    margin: 5px 0;
  }
}

.dropDownWrapper {
  .ant-spin {
    margin-left: 5px;
  }
}
