.taskView {
    display: flex;

    .ant-descriptions-row {
        .output {
            text-align: start;
        }
    }
    tbody {
        border: 0.5px solid $blueDark;
        tr {
            &.ant-descriptions-row {
                border-top: 0.5px solid $blueDark;
            }
            th {
                &.ant-descriptions-item-label {
                    border-right: 0.5px solid $blueDark;
                }
            }
            .ant-descriptions-item-content {
                max-width: 300px;
            }
        }
    }
    .historyTaskTitle {
        font-size: 23px;
        font-weight: bold;
        margin: 0;
        user-select: none;
        text-align: center;
    }
    .descriptionTask {
        .descriptionTask__title,
        .task_file,
        .descriptionTask__comment {
            text-align: center;
            font-weight: bold;
            padding: 5px;
            font-size: 16px;
        }
        .descriptionTask__content {
            display: block;
            width: 98%;
            min-height: 50px;
            max-height: 150px;
            font-size: 15px;
            padding: 10px;
            word-break: break-word;
            border: 1px solid $blueDark;
        }
    }
}

.col-taskDescription {
    height: 80vh;
    max-height: 80vh;
    .ant-descriptions {
        &.ant-descriptions-bordered {
            width: 98%;
        }
    }
}
