.statisticsModule {
    height: 100%;
    .statisticsModuleTitle {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        user-select: none;
    }

    .statisticsModule__main {
        overflow: hidden;
        height: calc(100% - 100px);
    }
}
