.statisticsModule {
    .statisticsModuleTitle {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        user-select: none;
    }

    .statisticsModule__main {
        overflow: hidden;
        height: 750px;
    }
}
