.weatherWidjet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    max-width: 60%;
    max-height: 321px;
    min-height: 250px;
    padding: 50px;
    margin: 10px;
    background-color: #5ca4bf;
    box-shadow: 0 0 0 2px;
    border-radius: 4px;
    img {
        pointer-events: none;
        user-select: none;
    }
    p {
        font-size: 1rem;
        pointer-events: none;
        user-select: none;

        color: white;
        &.templo {
            margin-top: 0;
        }
    }
    .weather {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 0 0 14%;
        font-weight: bold;
        border-right: 1px solid;
        margin: 5px;
        text-align: center;
        padding: 10px;
        &:first-child {
            border-left: 1px solid;
        }
        .weather_icon {
            width: 50px;
            height: 65px;
        }
    }
}
.wrapperLoader {
    width: 50%;
    display: flex;
    justify-content: center;
    .weatherLoader {
        width: 100px;
        height: 100px;
    }
}
