ul {
    &.ant-menu{
        &.ant-menu-sub, &.ant-menu-dark {
            li {
                &.ant-menu-item-selected {
                    background-color: unset;
                }
            }
        }
    }
}

.aside_menu {
    flex: 0 0 210px;
    max-width: 210px;
    min-width: 209px;
    width: 210px;
}