

header {
    .logout {
        cursor: pointer;
        font-weight: bold;
        position: absolute;
        left: 95%;
        transform: translate(-50%);

        &:hover {
            color: $important_default;
        }
    }
}

footer {
    text-align: center;
}

.layout_menu {
    min-height: 100vh;
}