.demo-page {
  background: #f0f8ff;
  overflow: auto;
  margin: 0 auto;
  height: 100vh;
  .title-demoPage {
    text-align: center;
    font-size: 21px;
  }

  * {
    outline: none;
  }

  form {
    width: 35vw;
    margin: 0 auto;
    label {
      white-space: nowrap;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      color: #000;
      &.textarea-wrapper {
        justify-content: center;
        margin-top: 10px;
      }
      input {
        display: flex;
        flex: 0 0 50%;
        border-radius: 5px;
        border: 1px solid #000;
        padding: 5px;
        text-decoration: none;
        &:focus {
          border: 1px solid rgb(22, 180, 233);
        }
      }
    }
    .ant-calendar-picker,
    input,
    textarea {
      margin-top: 5px;
    }

    textarea {
      margin-bottom: 0px;
      width: 100%;
      height: 6vw;
    }

    .ant-calendar-picker {
      width: 100%;
      .ant-input {
        padding-top: 0;
      }
    }

    .wrapper-controller {
      display: flex;
      justify-content: center;
      input {
        transition: ease-in-out 0.3s all;
        border-radius: 5px;
        border: 1px solid #000;
        background: rgb(120, 188, 248);
        color: #fff;
        font-size: bold;
        padding: 7px;
        cursor: pointer;

        &:hover {
          background: rgb(63, 154, 235);
        }

        &:active {
          border: 0.7px solid #000;
        }

        &:disabled {
          cursor: not-allowed;
          color: #000;
          background: rgb(128, 128, 128);
        }
      }
    }
  }
}
