.taskView {
  display: flex;

  .tags {
    .ant-input {
      margin-top: 5px;
    }
    button {
      margin-top: 5px;
      width: 100%;
    }

    .ant-tag {
      margin: 2px;
    }
  }

  .journalItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 30px;
    border: 0.5px solid $blueDefault;
    background-color: $journalColorBg;
    border-radius: 6px;

    .editor {
      color: $softViolet;
      &:before {
        content: '';
      }
    }
    .timeLost {
      margin: 0;
    }
    .msg {
      font-weight: bold;
      margin: 0 10px;
    }

    .title {
      color: $softTitle;
      margin: 0;
    }
  }

  .descriptionTask__content {
    position: relative;
    transition: all 0.3s ease-in-out;

    .icon-wrapper {
      display: none;
      visibility: hidden;
    }
    &:hover {
      &.editable {
        cursor: pointer;
        background-color: $editable;
        .icon-wrapper {
          display: inline-block;
          visibility: visible;
          position: absolute;
          top: 0;
          left: 97%;
        }
      }
    }
  }

  .descriptionTask__content {
    transition: visibility 1s ease-in-out;
  }

  .ant-descriptions-row {
    .output {
      text-align: start;
      word-break: break-word;
      white-space: normal;
      span.editor {
        word-break: break-word;
        white-space: normal;
      }
    }

    .ant-select,
    .ant-calendar-picker {
      width: 100%;
    }
  }
  tbody {
    border: 0.5px solid $blueDark;
    tr {
      &.ant-descriptions-row {
        border-top: 0.5px solid $blueDark;
      }
      th {
        &.ant-descriptions-item-label {
          border-right: 0.5px solid $blueDark;
        }
      }
      .ant-descriptions-item-content {
        max-width: 300px;
        button {
          padding: 0;
        }
      }
    }
  }
  .historyTaskTitle {
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    user-select: none;
    text-align: center;
  }
  .descriptionTask {
    .descriptionTask__title,
    .task_file,
    .descriptionTask__comment {
      text-align: center;
      font-weight: bold;
      padding: 5px;
      font-size: 16px;
    }
    .descriptionTask__content {
      display: block;
      width: 98%;
      overflow: hidden;
      min-height: 50px;
      max-height: 150px;
      height: 150px;
      font-size: 15px;
      padding: 0 5px;
      word-break: break-word;
      border: 1px solid $blueDark;
      .descriptionContent {
        display: flex;
        flex-direction: column;
        padding: 10px;
      }
    }
  }
}

.col-taskDescription {
  height: 70vh;
  max-height: 70vh;
  .ant-descriptions {
    &.ant-descriptions-bordered {
      width: 98%;
    }
  }
}

.dropDownWrapper {
  max-width: 50%;
  display: flex;
  p {
    margin-right: 15px;
    margin-bottom: 5px;
  }

  .modeControllEdit,
  .modeControllEditReject {
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}

.ant-dropdown-trigger:hover {
  cursor: pointer;
  color: $blueDark;
}

.ant-dropdown-menu-item {
  cursor: pointer;
  p {
    text-align: center;
    cursor: pointer;
  }

  p:hover {
    cursor: pointer;
    color: red;
  }
}

.modalWindow {
  .ant-modal-content {
    .ant-modal-body {
      .ant-select {
        width: 100%;
      }
    }
  }
}

@media print {
  body {
    overflow: visible !important;
  }
  * {
    overflow: visible !important;
    overflow-x: visible !important;
  }
  .taskModule {
    .dropDownWrapper {
      display: none;
    }

    .col-6 {
      display: inline-block;
      width: 100%;
    }

    .taskView {
      display: inline-block;
      width: 100%;

      div:last-child {
        page-break-before: always;
        .titleModule {
          page-break-before: always;
        }
      }

      .descriptionTask {
        display: none !important;
      }

      .col-taskDescription:first-child {
        div:first-child:not(.titleModule) > div:last-child > div {
          display: none !important;
        }
      }

      .col-taskDescription:last-child {
        div:last-child:not(.titleModule) > div:last-child > div {
          display: none !important;
        }
      }

      .col-taskDescription {
        &:first-child {
          &:last-child {
            display: none;
          }
        }
      }
    }
  }
}
