.notificationControllers {
    display: flex;
    .notificationCounter {
        position: absolute;
        pointer-events: none;
        top: 5px;
        transform: translate(15px, 0);
        sup {
            padding: 0 2px;
            font-weight: bold;
            text-align: center;
            width: 100%;
            background-color: #1890ff;
            font-size: 11px;
            display: flex;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
        }
    }
}

.itemWrapper {
    padding: 0 15px 0 0;
}
.notificationContent {
    max-height: 200px;
    min-width: 100px;
    .notificationItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .notificationItem__content {
            padding-left: 5px;
            word-break: break-all;
        }

        &.centerContent {
            padding-left: 0;
            justify-content: center;
        }
    }
}

.ant-popover {
    width: 100%;
    margin-right: 10px;
    max-width: 300px;
}
