textarea.defaultTextArea {
  &.ant-input {
    height: 120px;
  }
}

textarea {
  &::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar {
    width: 6px;
  }
}

.rdw-editor-main {
  resize: vertical;
}

.createNews-button {
  margin-top: 5px;
}

.content {
  &.readOnly {
    .editor-wrapper {
      &.rdw-editor-wrapper {
        .editor {
          &.rdw-editor-main {
            background-color: inherit;
          }
        }
      }
    }
  }
}
