.cabinetModule {
    .titleModule {
        flex: 0 0 10%;
        user-select: none; 
        span {
            font-weight: bold;
            font-size: 22px;
        }
        margin-bottom: 10px;
    }

    .cabinetModuleTitle {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        user-select: none; 
    }

    .cabinetModule_main {
        display: flex;
    }

    .lastActivity {
        font-weight: bold;
        font-size: 22px;
        margin-left: 50px;
    }

    .streamActivityCabinet {
        height: 485px;
        .activity {
            background-color: snow;
            box-shadow: 0 0 1px 1px;
        }
    }
    
}