.output {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;

  button {
    cursor: pointer;
    &.nameSurname:hover {
      color: #337ec4;
    }
  }

  &.withType {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  .active {
    color: $active;
  }
  .done {
    color: $done;
  }

  .close {
    color: $close;
  }
}

.pointerTooltip {
  .output {
    padding-left: 8px;
    button {
      width: 100%;
      overflow: hidden;
      padding: 0;
      text-overflow: ellipsis;
    }
  }
  cursor: pointer;
  span {
    cursor: pointer;
  }
}
