.output {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;

    .active {
        color: $active;
    }
    .done {
        color: $done;
    }

    .close {
        color: $close;
    }
}

.pointerTooltip {
    .output {
        padding-left: 8px;
    }
    cursor: pointer;
    span {
        cursor: pointer;
    }
}
