.news-card {
  flex: 47%;
  max-width: 47%;
  margin: 10px;
  height: 30vh;
  max-height: 30vh;
  // .ant-card-body {
  //     overflow: hidden;
  //     max-height: calc(100% - 65px);
  // }
  // .rdw-editor-main {
  //     overflow: hidden;
  //     text-overflow: ellipsis;
  //     display: -webkit-box;
  //     -webkit-line-clamp: 2;
  //     -webkit-box-orient: vertical;
  //     height: 100%;
  //     //min-height: calc(100px);
  //     //max-height: calc(100px);
  //     resize: none;
  // }
}
