.taskModule {
    .taskModuleTittle {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    .titleModule {
        span:first-of-type {
            font-weight: bold;
            font-size: 22px;
        }
    }
    .taskModuleAll_main {
        table {
            .ant-table-thead {
                background-color: $headerTable;
                border-bottom: 0.5px solid $blueDark;
                i {
                    color: white;
                    font-size: 14px;
                    padding: 5px;
                    background: #7ac0da;
                }
                tr {
                    display: flex;
                    th {
                        .ant-table-header-column {
                            display: block;
                            .ant-table-column-title {
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                text-align: center;
                                display: block;
                            }
                        }

                        width: 100%;
                        text-align: center;
                        overflow: hidden;
                        &.status {
                            flex: 0 0 8%;
                        }
                        &.name {
                            flex: 0 0 25%;
                        }
                        &.priority {
                            flex: 0 0 11%;
                        }
                        &.author {
                            flex: 0 0 20%;
                        }
                        &.editor {
                            flex: 0 0 20%;
                        }
                        border-left: 0.5px solid $blueDark;
                        color: #ffff;
                        background: unset;
                        span {
                            font-size: 20px;
                        }
                    }

                    th:last-child {
                        border-right: 0.5px solid $blueDark;
                    }
                }
            }

            .ant-table-tbody {
                tr {
                    cursor: pointer;
                    display: flex;
                    td {
                        border-left: 0.5px solid $blueDark;
                        border-bottom: 0.5px solid $blueDark;
                        width: 100%;
                        span {
                            font-weight: bold;
                            cursor: pointer;
                            font-size: 17px;
                        }

                        &.status {
                            flex: 0 0 8%;
                            max-width: 8%;
                        }
                        &.name {
                            flex: 0 0 25%;
                            max-width: 25%;
                        }
                        &.priority {
                            flex: 0 0 11%;
                            max-width: 25%;
                        }
                        &.author {
                            flex: 0 0 20%;
                            max-width: 20%;
                        }
                        &.editor {
                            flex: 0 0 20%;
                        }
                    }
                    td:last-child {
                        border-right: 0.5px solid $blueDark;
                    }
                }
            }
        }
    }
}
