$snow_l1: rgb(255, 250, 250);
$calendarBG: #fff;
$selectedDate: #ff0c0c;
$tab: #1890ff;
$chatHeader: rgba(46, 150, 247, 0.65);
$unactiveTab: #92a7ab;
$tabBorder: #0439;
$headerColor: #ffffff;
$selected: #fff;
$shadowColor: #989ba0;
$cardColorBg: rgb(243, 249, 255);
$editable: rgb(231, 249, 249);
$blueDark: #5ca4bf;
$blueDarkHover: #56c3eb;
$errorText: #ff0000;
$headerTable: #7ac0da;
$uiCardInfo: snow;
$active: rgb(58, 76, 240);
$done: rgb(11, 146, 17);
$close: rgb(255, 0, 0);
$errorButton: tomato;
$cardBorderShadow: 1px 1px 2px 1px;
$important_default: rgb(255, 0, 0);
$link: #3535be;
$hoverLink: #1212fa;
$linkBlack: #0e1f34;

$sideSize: 210px; //main param for layout
