body {
    font-family: Roboto, Arial, sans-serif;
}
.ant-calendar-time {
    .ant-calendar-footer {
        .ant-calendar-time-picker-btn {
            display: none;
        }
    }
}

.col-8 {
    flex: 0 0 66.777%;
}

.col-6 {
    flex: 0 0 50%;
}

.col-4 {
    flex: 0 0 33.333%;
}

p,
span {
    cursor: context-menu;
}

ul {
    list-style-type: none;
}

.startAlign {
    text-align: start;
}

.isError {
    border: 1px solid red;
}
