body {
  overflow: hidden;
  font-family: Roboto, Arial, sans-serif;
}
.ant-calendar-time {
  .ant-calendar-footer {
    .ant-calendar-time-picker-btn {
      display: none;
    }
  }
}

.visible {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: block;
  overflow: hidden;
}

.hidden {
  display: none;
}

.ie-only {
  width: 1140px;
  margin: 0 auto;
  text-align: center;
  p {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
}

.area-left {
  display: flex;
  align-items: center;
}

.link {
  cursor: pointer;
  color: $linkBlack;
}

.simpleLink {
  cursor: pointer;
  color: $link;

  &:hover {
    color: $hoverLink;
  }
}

.icon-pencil {
  width: 50px;
  color: #000;
}

.app-unactive {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: rgba(24, 144, 255, 0.4);
  color: #000000;
}

.col-fullscreen {
  flex: 0 0 100%;
  &.viewport-max {
    max-width: 100%;
  }
}

.col-8 {
  flex: 0 0 66.777%;
  &.viewport-max {
    max-width: 66.777%;
  }
}

.col-6 {
  flex: 0 0 50%;
  &.viewport-max {
    max-width: 50%;
  }
}

.col-4 {
  flex: 0 0 33.333%;
  &.viewport-max {
    max-width: 33.333%;
  }
}

.col-chat-menu {
  flex: 0 0 20%;
  &.viewport-max {
    max-width: 20%;
  }
}

.col-chat-content {
  flex: 0 0 80%;
  &.viewport-max {
    max-width: 80%;
  }
}

p,
span {
  cursor: context-menu;
}

ul {
  list-style-type: none;
}

.startAlign {
  text-align: start;
}

.isError {
  border: 1px solid red;
}
