.mainModule {
    display: flex;
    flex-direction: column;
    height: 100%;
    .titleModule {
        flex: 0 0 10%;
        user-select: none;
        span {
            font-weight: bold;
            font-size: 22px;
        }
        margin-bottom: 10px;
    }

    .mainModuleTitle {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        user-select: none;
    }
    .mainModule_main {
        display: flex;
        flex: 0 0 88%;
        .columnModuleRight {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            .widjects {
                display: flex;
                width: 95%;
                height: 50%;
            }
        }
        .mainModule_calendar {
            width: 100%;
            display: flex;
            padding: 0 20px;
            flex-direction: column;
            .ant-fullcalendar {
                table {
                    height: 210px;
                }
            }
        }
    }
}
