.mainModule {
    display: flex;
    flex-direction: column;
    height: 100%;
    .titleModule {
        flex: 0 0 10%;
        user-select: none;
        span {
            font-weight: bold;
            font-size: 22px;
        }
        margin-bottom: 10px;
    }

    .mainModuleTitle {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        user-select: none;
    }
    .mainModule_main {
        display: flex;
        flex: 0 0 88%;
        .columnModuleRight {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .mainModule_calendar {
            max-width: 36%;
            min-width: 36%;
            width: 36%;
            height: 340px;
            justify-content: flex-end;
            .react-calendar__navigation {
                height: 40px;
            }
        }
    }
}
