.taskModuleCalendar {
    max-height: 85vh;
    .taskModuleCalendar__main {
        .ant-fullcalendar-content {
            position: relative;
            button {
                background: rgba(0, 0, 0, -3.8);
                border: none;
                width: 100%;
                color: red;
                font-weight: bold;
                height: 100%;
                position: absolute;
            }
        }
        .ant-fullcalendar-value {
            position: absolute;
            z-index: 1;
            left: 80%;
        }
        .ant-fullcalendar-fullscreen {
            background-color: $snow_l1;
            ul {
                padding: 0;
            }
            .ant-fullcalendar-today {
                .ant-fullcalendar-date {
                    border-top-color: $selectedDate;
                }
            }
            .ant-fullcalendar-date {
                height: 100px;
            }
        }
    }
}

.listTasks {
    padding: 0;
    margin: 0;
}
