footer {
    text-align: center;
}

.layout_menu {
    min-height: 100vh;
}

.mainLoader {
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    img {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }
}

.guideModal {
    .ant-modal-footer {
        div {
            .ant-btn:first-child {
                display: none;
            }
        }
    }

    .ant-modal-body {
        min-height: 275px;
        text-align: center;
        font-weight: bold;
        background-image: url("/img/guide.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
