header {
    .logout {
        cursor: pointer;
        font-weight: bold;
        position: absolute;
        left: 95%;
        transform: translate(-50%);

        &:hover {
            color: $important_default;
        }
    }
}

footer {
    text-align: center;
}

.layout_menu {
    min-height: 100vh;
    // section.ant-layout {
    //     margin-left: $sideSize;
    // }
}

// .ant-layout-sider {
//     max-width: $sideSize;
//     min-width: $sideSize;
//     width: $sideSize;
//     overflow: auto;
//     left: 0;
//     position: fixed;
//     height: 100vh;
// }
